.list {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: 300px;
    width: calc(25% - 15px);
    position: relative;
    margin-bottom: 100px;

    @media (max-width: 500px) {
        width: 100%;
    }

    &__title {
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__cta {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: var(--orange);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid white;

        a {
            text-decoration: none;
        }
    }

    &__image {
        margin-left: 15px;
        height: 300px;

        img {
            object-fit: cover;
        }
    }

    &__description {
        height: 100px;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        font-weight: 900;
        color: var(--white);
        display: flex;
        flex-flow: column nowrap;
        background-color: var(--orange);

        &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: var(--orange);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}
