.container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.overlay {
    background: inherit;
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    color: var(--white);
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    z-index: 9999;

    @media(max-width: 500px) {
        font-size: 16px;
    }

    &--white {
        color: var(--black);
        background-color: var(--white);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    &--lightblue {
        background-color: var(--lightblue);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &__logo::before {
        display: none;
    }

    &__cta {
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: flex-end;
    }

    &__button {
        @media(max-width: 500px) {
            padding: 5px !important;
        }
    }

    &--fixed {
        position: fixed;
        background-color: var(--white);
        color: var(--black);
        z-index: 1;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.body {
    flex: 1;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--white);

    &__divider {
        margin: 5% 20% 5%;
        border-top: 2px solid var(--orange);

        @media (min-width: 1000px) {
            margin: 5% 20% 1%;
        }
    }
}
