.container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    background-color: #E6FF05;

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__searchbox {
        width: 30%;;
    }

    &__title {
        margin: 0;
        font-size: 2em;
        padding-left: 20px;
        text-decoration: underline;

        @media (max-width: 500px) {
            display: none;
        }
    }
}

.body {
    flex: 1;
}

.input-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 8px;

    &__input {
        flex-grow: 2;
        border: none;
    }

    &__button {
        background: none;
        border: none;
    }
}

.divider {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to bottom, #E6FF05 18%, #FFFFFF 100%);
}

.footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
